# Global ignores
node_modules
yarn-error.log
.nyc_output
3rdParty/phusion/baseimage-docker-master
3rdParty/phusion/passenger-docker-master
3rdParty/xbuild.prev
update
src/xcompany/xbuild/rootfs/init
src/xcompany/xbuild/rootfs/bin/
src/xcompany/xbuild/rootfs/etc/leapsecs.dat
src/xcompany/xbuild/rootfs/etc/s6/
src/xcompany/xbuild/rootfs/etc/services.d/*
src/xcompany/xbuild/rootfs/etc/socklog.rules/
src/xcompany/xbuild/rootfs/etc/xbuild/sources.list
src/xcompany/xbuild/rootfs/etc/xbuild/env.d/*
src/xcompany/xbuild/rootfs/libexec/
src/xcompany/xbuild/rootfs/usr/bin/
src/xcompany/xbuild/rootfs/usr/local/bin/consul
src/xcompany/xbuild/rootfs/usr/local/bin/consul-template
src/xcompany/xbuild/rootfs/var/cache/xbuild/
src/xcompany/xbuild/rootfs/var/local/xbuild/
src/xcompany/xbuild/rootfs/var/log/xbuild/
src/xcompany/xbuild/rootfs/var/run/xbuild/
